/*로고*/
img:first-child{
    position: absolute;
    top:3%;
    left:39%;
    
}
/*설명글*/
img:nth-child(2){
    position: absolute;
    top: 93%;
    left: 25%;
    
}
/*about*/
video:nth-child(3){
    position: absolute;
    top: 7%;
    left: 3%;
    
}
/*pfanne*/
img:nth-child(4){
    position: absolute;
    top: 79%;
    left: 42%;
    
}
/*archive*/
img:nth-child(5){
    position: absolute;
    top: 56%;
    left: 82%;
    
}



/*zettel*/
img:nth-child(6){ /*kartoffel*/
    position: absolute;
    top: 21%;
    left: 25%;
    
}

img:nth-child(7){ /*buletten*/
    position: absolute;
    top: 36%;
    left: 14%;
    
}

img:nth-child(8){ /*toast*/
    position: absolute;
    top: 27%;
    left: 40%;
    
}

img:nth-child(9){ /*nurungji*/
    position: absolute;
    top: 33%;
    left: 71%;
    
}

img:nth-child(10){ /*gimbap*/
    position: absolute;
    top: 52%;
    left: 62%;
    
}

img:nth-child(11){ /*bulgogi*/
    position: absolute;
    top: 26%;
    left: 57%;
    
}

img:nth-child(12){ /*kohl*/
    position: absolute;
    top: 45%;
    left: 29%;
    
}

img:nth-child(13){ /*janchi*/
    position: absolute;
    top: 45%;
    left: 47%;
    
}

img:nth-child(14){ /*zettel*/
    position: absolute;
    top: 62%;
    left: 2%;
    
}

img:last-child{ /*zettel*/
    position: absolute;
    top:2%;
    left:75%;
    
}

.draggable:hover{
    cursor: url(move.png), auto;
}